### Utilize a base de dados para as questões abaixo archive.ics.uci.edu/ml/datasets/iris.

In [1]:
import pandas as pd

data_iris = pd.read_csv("iris.csv")
x_iris    = data_iris.drop(['variety'], axis=1)
y_iris    = data_iris['variety']

In [2]:
x_iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [3]:
y_iris.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: variety, dtype: object

### 1. Descartando a variável classse, forme três grupos utilizando Mistura de Gaussianas e mostre:

In [4]:
from sklearn.mixture import GaussianMixture

gm = GaussianMixture(n_components=3).fit(x_iris)
gm.bic(x_iris)

582.4823873672626

In [21]:
predict = gm.predict(x_iris)
predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [37]:
group = {'G1':[], 'G2':[], 'G3':[]}

for i in range(len(predict)):
    index = 'G'+str((predict[i]+1))
    group[index].append(x_iris.iloc[i])

In [41]:

g1 = pd.DataFrame(group['G1'])
g1.head()

    sepal_length  sepal_width  petal_length  petal_width
50           7.0          3.2           4.7          1.4
51           6.4          3.2           4.5          1.5
52           6.9          3.1           4.9          1.5
53           5.5          2.3           4.0          1.3
54           6.5          2.8           4.6          1.5

In [42]:
g2 = pd.DataFrame(group['G2'])
g2.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [43]:
g3 = pd.DataFrame(group['G3'])
g3.head()

    sepal_length  sepal_width  petal_length  petal_width
68           6.2          2.2           4.5          1.5
70           5.9          3.2           4.8          1.8
72           6.3          2.5           4.9          1.5
77           6.7          3.0           5.0          1.7
83           6.0          2.7           5.1          1.6

#### (a) (5 pontos) O vetor de médias de caga grupo.

In [48]:
mean_g1 = []
for i in g1:
    mean_g1.append(g1[i].mean())

mean_g1

[5.904444444444445, 2.775555555555556, 4.193333333333333, 1.2933333333333332]

In [49]:
mean_g2 = []
for i in g2:
    mean_g2.append(g2[i].mean())

mean_g2

[5.006, 3.418, 1.464, 0.244]

In [50]:
mean_g3 = []
for i in g3:
    mean_g3.append(g3[i].mean())

mean_g3

[6.554545454545455, 2.9509090909090916, 5.4890909090909075, 1.989090909090909]

#### (b) (10 pontos) A matriz de covariância de cada grupo.

In [52]:
g1.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000     0.597937      0.777249     0.560435
sepal_width       0.597937     1.000000      0.672034     0.795371
petal_length      0.777249     0.672034      1.000000     0.748343
petal_width       0.560435     0.795371      0.748343     1.000000

In [53]:
g2.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000     0.746780      0.263874     0.279092
sepal_width       0.746780     1.000000      0.176695     0.279973
petal_length      0.263874     0.176695      1.000000     0.306308
petal_width       0.279092     0.279973      0.306308     1.000000

In [54]:
g3.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000     0.446503      0.846106     0.315974
sepal_width       0.446503     1.000000      0.438968     0.575757
petal_length      0.846106     0.438968      1.000000     0.418948
petal_width       0.315974     0.575757      0.418948     1.000000

#### (c) (15 pontos) Um único gráco com os três grupos juntos, destacando cada grupo.

#### (d) (10 pontos) Para cada classe faça grácos similares ao anterior, destacando cada grupo em cada um dos grácos.