#### 1. Utilizando a base Wine archive.ics.uci.edu/ml/datasets/Wine e o classicador Naive Bayes com metade dos exemplos de cada classe para o cojunto de treino e o restante para o conjunto de teste, calcule a acurácia para:

In [5]:
import pandas as pd

data = pd.read_csv('wine.csv')
x_wine = data.drop(['Class'], axis=1)
y_wine = pd.DataFrame(data['Class'])

In [6]:
x_wine.head()

,Alcohol,Malic_acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280/OD315_of_diluted_wines,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [7]:
y_wine.head()

   Class
0      1
1      1
2      1
3      1
4      1

In [35]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_wine, y_wine, test_size=0.5, stratify=y_wine)

In [36]:

y_train['Class'].value_counts()

2    36
1    29
3    24
Name: Class, dtype: int64

In [37]:
y_test['Class'].value_counts()

2    35
1    30
3    24
Name: Class, dtype: int64

##### (a) (10 pontos) Utilizando 5 características extraídas com PCA dos dados originais

In [72]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

In [77]:
from sklearn.decomposition import PCA

pca = PCA(n_components=5)
pca.fit(x_train)
train = pca.transform(x_train)
test  = pca.transform(x_test)

In [94]:
from sklearn.metrics import accuracy_score

nb.fit(train, y_train)
predict = nb.predict(test)
accuracy_score(y_test, predict)

c:\Users\yrese\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9101123595505618

##### (b) (10 pontos) Utilizando 5 características extraídas com PCA dos dados padronizados no intervalo [0,1]

In [96]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
 
df_scaled = scaler.fit(x_train)
x_train = df_scaled.transform(x_train)
x_test  = df_scaled.transform(x_test)

In [97]:
pca = PCA(n_components=5)
pca.fit(x_train)
train = pca.transform(x_train)
test  = pca.transform(x_test)

In [98]:
nb = GaussianNB()
nb.fit(train, y_train)
predict = nb.predict(test)
accuracy_score(y_test, predict)

c:\Users\yrese\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9775280898876404